.sliderWrap {
    display: flex !important;
    align-items: center;
    padding: 40px 20px 40px 40px;
    margin-bottom: 40px;
    background: linear-gradient(90deg, #EE5514 -118.86%, rgba(238, 85, 20, 0) 133.88%);
    h2 {
        font-weight: 600;
        font-size: 61px;
        line-height: 120%;
        margin: 0 0 20px 0;
        span {
            color: #ee5514;
        }
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .slick-next{
        right: 25px !important;
    }
}
.slideDescription{
    flex: 1 1 366px;
    min-height: 0px;
}
