header {
  background: linear-gradient(90deg, #EE5514 -118.86%, rgba(238, 85, 20, 0) 133.88%);
  border-radius: 15px 15px 0 0;
    img {
      margin-right: 15px;
    }
    h3,
    p {
      margin: 0;
    }
  }
  .content {
    h1 {
      margin: 0;
    }
  }